USE [master]
GO
/****** Object:  Database [BufferDataBase]    Script Date: 05-11-2018 10:55:57 ******/
CREATE DATABASE [BufferDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BufferDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BufferDataBase.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BufferDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BufferDataBase_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BufferDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BufferDataBase]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05-11-2018 10:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 05-11-2018 10:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[Body] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Author_UserID] [int] NULL,
 CONSTRAINT [PK_dbo.Answer] PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Question]    Script Date: 05-11-2018 10:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[AnswerCount] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Author_UserID] [int] NULL,
 CONSTRAINT [PK_dbo.Question] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuestionTag]    Script Date: 05-11-2018 10:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionTag](
	[QuestionID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionTag] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tag]    Script Date: 05-11-2018 10:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tag] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Token]    Script Date: 05-11-2018 10:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[TokenID] [int] NOT NULL,
	[TokenString] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Token] PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 05-11-2018 10:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[EmailID] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[ImageURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Voting]    Script Date: 05-11-2018 10:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voting](
	[AnswerID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Voting] PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([AnswerID], [Body], [CreatedAt], [UpdatedAt], [QuestionID], [Author_UserID]) VALUES (3003, N'sambar dosa', CAST(N'2018-11-04 23:23:16.130' AS DateTime), CAST(N'2018-11-04 23:23:16.130' AS DateTime), 2009, 3004)
INSERT [dbo].[Answer] ([AnswerID], [Body], [CreatedAt], [UpdatedAt], [QuestionID], [Author_UserID]) VALUES (3004, N'Pasta', CAST(N'2018-11-04 23:23:48.150' AS DateTime), CAST(N'2018-11-04 23:23:48.150' AS DateTime), 2009, 3005)
INSERT [dbo].[Answer] ([AnswerID], [Body], [CreatedAt], [UpdatedAt], [QuestionID], [Author_UserID]) VALUES (3007, N'siddharth', CAST(N'2018-11-04 23:27:52.297' AS DateTime), CAST(N'2018-11-04 23:27:52.297' AS DateTime), 2008, 3004)
SET IDENTITY_INSERT [dbo].[Answer] OFF
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([QuestionID], [Title], [Description], [AnswerCount], [CreatedAt], [UpdatedAt], [Author_UserID]) VALUES (2008, N'What is your name?', N'tell your name', 1, CAST(N'2018-11-04 23:14:18.307' AS DateTime), CAST(N'2018-11-04 23:26:00.147' AS DateTime), 3005)
INSERT [dbo].[Question] ([QuestionID], [Title], [Description], [AnswerCount], [CreatedAt], [UpdatedAt], [Author_UserID]) VALUES (2009, N'what''s your fav food?', N'It can''t be maggie', 2, CAST(N'2018-11-04 23:15:06.707' AS DateTime), CAST(N'2018-11-04 23:15:06.707' AS DateTime), 3004)
INSERT [dbo].[Question] ([QuestionID], [Title], [Description], [AnswerCount], [CreatedAt], [UpdatedAt], [Author_UserID]) VALUES (3007, N'how are you?', N'testing', 0, CAST(N'2018-11-05 10:33:15.173' AS DateTime), CAST(N'2018-11-05 10:33:15.333' AS DateTime), 3005)
SET IDENTITY_INSERT [dbo].[Question] OFF
INSERT [dbo].[QuestionTag] ([QuestionID], [TagID]) VALUES (3007, 1)
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([TagID], [TagName]) VALUES (1, N'testing')
SET IDENTITY_INSERT [dbo].[Tag] OFF
INSERT [dbo].[Token] ([TokenID], [TokenString]) VALUES (3003, -597163909)
INSERT [dbo].[Token] ([TokenID], [TokenString]) VALUES (3004, -1605363009)
INSERT [dbo].[Token] ([TokenID], [TokenString]) VALUES (3005, 2014067625)
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [EmailID], [Password], [FirstName], [LastName], [ImageURL]) VALUES (3003, N'akshay123', N'akshay@gmail.com', N'akshay123', N'akshay', N'jhamb', N'images/8b701678-02e1-473c-a362-6d527972e9d9.jpg')
INSERT [dbo].[User] ([UserID], [UserName], [EmailID], [Password], [FirstName], [LastName], [ImageURL]) VALUES (3004, N'siddharth123', N'siddharth@gmail.com', N'siddharth@123', N'siddharth', N'sachdeva', N'images/ca29d890-3d67-48ec-a773-0714efdecd45.png')
INSERT [dbo].[User] ([UserID], [UserName], [EmailID], [Password], [FirstName], [LastName], [ImageURL]) VALUES (3005, N'megha123', N'megha@gmail.com', N'megha@123', N'megha', N'rai', N'images/9196f4bd-07fa-47d5-8b57-62cbaa138d75.png')
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[Voting] ([AnswerID], [UserID], [Status]) VALUES (3004, 3004, 1)
/****** Object:  Index [IX_Author_UserID]    Script Date: 05-11-2018 10:55:58 ******/
CREATE NONCLUSTERED INDEX [IX_Author_UserID] ON [dbo].[Answer]
(
	[Author_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionID]    Script Date: 05-11-2018 10:55:58 ******/
CREATE NONCLUSTERED INDEX [IX_QuestionID] ON [dbo].[Answer]
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Author_UserID]    Script Date: 05-11-2018 10:55:58 ******/
CREATE NONCLUSTERED INDEX [IX_Author_UserID] ON [dbo].[Question]
(
	[Author_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuestionID]    Script Date: 05-11-2018 10:55:58 ******/
CREATE NONCLUSTERED INDEX [IX_QuestionID] ON [dbo].[QuestionTag]
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TagID]    Script Date: 05-11-2018 10:55:58 ******/
CREATE NONCLUSTERED INDEX [IX_TagID] ON [dbo].[QuestionTag]
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TokenID]    Script Date: 05-11-2018 10:55:58 ******/
CREATE NONCLUSTERED INDEX [IX_TokenID] ON [dbo].[Token]
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnswerID]    Script Date: 05-11-2018 10:55:58 ******/
CREATE NONCLUSTERED INDEX [IX_AnswerID] ON [dbo].[Voting]
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 05-11-2018 10:55:58 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Voting]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Answer_dbo.Question_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_dbo.Answer_dbo.Question_QuestionID]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Answer_dbo.User_Author_UserID] FOREIGN KEY([Author_UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_dbo.Answer_dbo.User_Author_UserID]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Question_dbo.User_Author_UserID] FOREIGN KEY([Author_UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_dbo.Question_dbo.User_Author_UserID]
GO
ALTER TABLE [dbo].[QuestionTag]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionTag_dbo.Question_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionTag] CHECK CONSTRAINT [FK_dbo.QuestionTag_dbo.Question_QuestionID]
GO
ALTER TABLE [dbo].[QuestionTag]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionTag_dbo.Tag_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([TagID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionTag] CHECK CONSTRAINT [FK_dbo.QuestionTag_dbo.Tag_TagID]
GO
ALTER TABLE [dbo].[Token]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Token_dbo.User_TokenID] FOREIGN KEY([TokenID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Token] CHECK CONSTRAINT [FK_dbo.Token_dbo.User_TokenID]
GO
ALTER TABLE [dbo].[Voting]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Voting_dbo.Answer_AnswerID] FOREIGN KEY([AnswerID])
REFERENCES [dbo].[Answer] ([AnswerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Voting] CHECK CONSTRAINT [FK_dbo.Voting_dbo.Answer_AnswerID]
GO
ALTER TABLE [dbo].[Voting]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Voting_dbo.User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Voting] CHECK CONSTRAINT [FK_dbo.Voting_dbo.User_UserID]
GO
USE [master]
GO
